<nav class="navbar fixed-top navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ol class="navbar-nav me-auto w-100 justify-content-center">
        <li id="nav-menu-item-218049-659125b5505f8" class="mega-menu-item nav-item menu-item-depth-0 px-2 "><a href="#"
            class="menu-link main-menu-link item-title"><span>// home</span></a></li>
        <li id="nav-menu-item-218047-659125b550642" class="mega-menu-item nav-item menu-item-depth-0 px-2 "><a href="#"
            class="menu-link main-menu-link item-title"><span>// expertise</span></a></li>
        <li id="nav-menu-item-218045-659125b55066e" class="mega-menu-item nav-item menu-item-depth-0 px-2 "><a href="#"
            class="menu-link main-menu-link item-title"><span>// work</span></a></li>
        <li id="nav-menu-item-218046-659125b550696" class="mega-menu-item nav-item menu-item-depth-0 px-2 "><a href="#"
            class="menu-link main-menu-link item-title"><span>// experience</span></a></li>
        <li id="nav-item-218048-659125b5506cf" class="mega-menu-item nav-item menu-item-depth-0 px-2 "><a href="#"
            class="menu-link main-menu-link item-title"><span>// contact</span></a></li>
      </ol>
    </div>
  </div>
</nav>